[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/realsense-ros-4.54.1"]
	path = src/realsense-ros-4.54.1
	url = https://github.com/IntelRealSense/realsense-ros.git
